body {
    text-align: center;
    
    font-family: 'Slabo 27px', serif;
}

#start_game_text > ol {
    text-align: left;
}

#start_game_text > ul {
    list-style: none;
    text-align: left;
    padding-left: 20px;
}

#cardgame {
    width: 350px;
}

#chrono_text, #score {
    margin-top: 2rem;
}

#next_row {
    margin-top: -1rem;
}

#firstdownside > div > ul, #firstdownside > div > ul > ul {
    list-style: none;
}

#firstdownside > div > ul > li > h3 {
    margin-top: .5rem;
}

#score_table > table {
    width: 60%;
}

@media (min-width : 750px) { /* A partir de 750pixels */
    #leftside {
        width: 50%;
        background-image: url("../image/lateralside.png");
        background-size: contain;
        background-repeat: no-repeat;
        color: white;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        position: fixed;
        height : 100vh;
    }

    #rightside {
        display: flex;
        width: 50%;
        flex-direction: column;
        margin-left: 50%;
        height: 100vh;
        justify-content: center;
    }

    #downside {
        margin-top: 3rem;
    }

    h1, h5 {
        display: none;
    }




}

@media (max-width : 750px) { /* En dessous de 750px */

    #firstdownside > div > ul, #firstdownside > div > ul > ul {
        text-align: left;
        padding-left: 20px;
    }
    #topside {
        background-image: url("../image/banniere.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        display:flex;
        flex-direction:column;
        justify-content: center;
        height : 14vh;
        color: #e3a926;
    }

    #downside {
        margin-top: 1rem;
    }
}
